name: mongodb
services:
    mongodb:
        image: mongo:${MONGO_VERSION:-latest}
        container_name: mongodb
        restart: unless-stopped
        ports:
            - "127.0.0.1:27017:27017"
        volumes:
            - mongo_data:/data/db
        environment:
            MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USER}
            MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASSWORD}

volumes:
    mongo_data:
